.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;    
}

.box {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.calendar-background {
    background-image: url("../pandenlogo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.slideshow {
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.top {
    z-index: 1;
}

.fade-in {
    opacity: 1;
    transition: opacity 3s;
  }
  
.fade-out {
    opacity: 0;
    transition: opacity 3s;
}

.fc-header-toolbar .fc-toolbar-title {
    font-size: 12px;
}
  
.fc-daygrid-event .fc-event-title {
    font-size: 12px;
}

.fc-header-toolbar .fc-toolbar-title,
.fc-daygrid-event .fc-event-title {
  font-family: "Monaco", sans-serif;
}

.fc-daygrid-event {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    padding: 8px;
    border-radius: 8px;
    backdrop-filter: blur(8px);
    color: black;
  }

  .fc-timegrid-slots tr {
    background-color: rgba(255, 255, 255, 0.2); /* Set the background color for the time slots */
  }

  .fc-timegrid-col-header {
    background-color: rgba(255, 255, 255, 0.8); /* Set the background color for the day headers */
    color: black; /* Set the text color for the day headers */
  }

  .fc {
    color: rgba(0, 0, 0, 0.839); /* Set the text color with transparency */
    backdrop-filter: blur(3px); /* Adjust the blur value as needed */
    background-color: rgba(255, 255, 255, 255, 0.2); /* Set a semi-transparent background color */
    text-transform: uppercase; /* Convert all text to uppercase */
  }

  .fc-daygrid-day a {
    text-decoration: none; /* Remove the underline style */
    color: inherit; /* Inherit the color from the parent element */
    cursor: default; /* Set the cursor to default */
  }

  .fc-daygrid-divider, .fc-timegrid-slot-cushion {
    background-color: rgba(0, 0, 0, 0.5); /* Set the background color for the grid lines */
    border-color: rgba(255, 255, 255, 0.2); /* Set the border color for the grid lines */
  }
  