.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.box {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slideshow {
    object-fit: contain;
    height: inherit;
    z-index: 0;
}

.calendar {
    height: inherit;
}
/* #calendar {
    height: 50vh;
}

#slideshow {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 50vh;
}

#slideshow-image {
    width: auto;
    height: 50%;
    object-fit: fill;
    position: absolute;
    bottom: 0;
} */